# 1. 加载数据集 Load Data

**IMBD [From Wikipedia]**

> IMDB是世界上最受欢迎、最权威的电影、电视和名人内容来源。探索热门电影和电视节目、娱乐新闻以及最新的奖项和活动。使用观察列表跟踪你想看的内容，并对你看过的电影和节目进行评分。观看视频–包括独家IMDb原创、预告片、幕后剪辑等。

> IMDb is the world's most popular and authoritative source for movie, TV, and celebrity content. Explore popular movies and TV shows, entertainment news, and the latest awards and events. Track what you want to watch using your Watchlist, and rate movies and shows you've seen. Watch video – including exclusive IMDb Originals, trailers, behind-the-scenes clips, and more. 

**IMBD Data**
- movie_act.csv        演员id到电影id的映射信息
- movie_actor.csv      5334个演员的信息，名称和头像
- movie_moive.csv      2926部电影的详情信息
- movie_popularity.csv 保留着62部受欢迎的电影信息
- user_user.csv  不知道有啥用的id信息   

`提示：这个数据集并不完整，但是确实是从IMBD上获取下来的，经供参考`

- movie_act.csv        Mapping information from actor ID to movie ID
- movie_actor.csv      Information, names and avatars of 5334 actors
- movie_moive.csv      Details of 2926 films
- movie_popularity.csv Information on 62 popular films is retained
- user_user.csv  I don't know what kind of ID information to use   

`Tip: this data set is not complete, but it is indeed obtained from IMBD for reference`

In [2]:
import pandas as pd 

'''
    加载数据集
'''
def load_data() -> dict[str:pd.DataFrame]:
    df_actor_movie = pd.read_csv('./dataset/movie_act.csv')
    df_actor = pd.read_csv('./dataset/movie_actor.csv')
    df_movie = pd.read_csv('./dataset/movie_movie.csv')
    df_popularity = pd.read_csv('./dataset/movie_popularity.csv')
    df_user = pd.read_csv('./dataset/user_user.csv')
    return {
        'actor_movie' : df_actor_movie,
        'actor': df_actor,
        'movie': df_movie,
        'popularity': df_popularity,
        'user': df_user
    }
df = load_data()

## 1.1 movie_act.csv

In [3]:
print('rows:',len(df['actor_movie']))
df['actor_movie'].head()

rows: 13701

     id actorid_id movieid_id
0  7605  nm0941777  tt0499549
1  7606  nm0757855  tt0499549
2  7607  nm0000244  tt0499549
3  7608  nm0002332  tt0499549
4  7609  nm0735442  tt0499549

关于电影和演员

It's about the movies and their actors

## 1.2 movie_actor.csv

In [4]:
print('rows:', len(df['actor']))
df['actor'].head()

rows: 5334

,actorid,name,photo
0,nm0941777,Sam Worthington,https://ia.media-imdb.com/images/M/MV5BMTc5NTM...
1,nm0757855,Zoe Saldana,https://ia.media-imdb.com/images/M/MV5BMjA4NDk...
2,nm0000244,Sigourney Weaver,https://ia.media-imdb.com/images/M/MV5BMTk1MTc...
3,nm0002332,Stephen Lang,https://ia.media-imdb.com/images/M/MV5BMjE4NzY...
4,nm0735442,Michelle Rodriguez,https://ia.media-imdb.com/images/M/MV5BNWQ3NDJ...

关于电影里每个演员的名字和头像

It's about the name and photo of every actor, who in the moive.

## 1.3 movie.csv

In [5]:
print('rows:', len(df['movie']))
df['movie'].head()

rows: 2926

,movieid,title,year,length,genres,rate,poster,plot,trailer
0,tt0499549,Avatar,2009,162,Action|Adventure|Fantasy|Sci-Fi,7.8,https://ia.media-imdb.com/images/M/MV5BMTYwOTE...,A paraplegic marine dispatched to the moon Pan...,https://video-http.media-imdb.com/MV5BNjYxM2Q5...
1,tt0449088,Pirates of the Caribbean: At World's End,2007,169,Action|Adventure|Fantasy,7.1,https://ia.media-imdb.com/images/M/MV5BMjIyNjk...,"Captain Barbossa, Will Turner and Elizabeth Sw...",https://www.totaleclips.com/Player/Bounce.aspx...
2,tt2379713,Spectre,2015,148,Action|Adventure|Thriller,6.8,https://ia.media-imdb.com/images/M/MV5BOWQ1MDE...,"A cryptic message from Bond's past, sends him ...",https://video-http.media-imdb.com/MV5BODkzNTQ3...
3,tt1345836,The Dark Knight Rises,2012,164,Action|Thriller,8.4,https://ia.media-imdb.com/images/M/MV5BMTk4ODQ...,Eight years after the Joker's reign of anarchy...,https://video-http.media-imdb.com/MV5BNjQ1NTU4...
4,tt0401729,John Carter,2012,132,Action|Adventure|Sci-Fi,6.6,https://ia.media-imdb.com/images/M/MV5BMDEwZmI...,"Transported to Barsoom, a Civil War vet discov...",https://video-http.media-imdb.com/MV5BMjAwMzY1...

有关于2926部电影的信息

There are info of 2926 movies.

## 1.4 movie_popularity.csv

In [6]:
print('rows:', len(df['popularity']))
df['popularity'].head()

rows: 62

   id  weight movieid_id
0   6       1  tt2975590
1   8       1  tt0240510
2   9       1  tt1600195
3  10       1  tt0859163
4  12       1  tt1170358

实际上，有62部最受欢迎的电影，接下来我们就挑选出这62部电影基于py2neo进行知识图谱的构建。说实话我不知道这个id是干啥用的，所以待会就不用了

In fact, there are 62 movies, that is the most popular, and next, let's select them to build the knowledge graph base on py2neo.
I don't know how to use the 'id', so then don't use it.

## 1.5 user_user.csv

In [7]:
print('rows:', len(df['user']))
df['user'].head()

rows: 62

   id
0   6
1   8
2   9
3  10
4  12

这是上一个csv的id字段，也不使用

it's the'id' in last csv , don't use id too

# 2. 数据预处理 Data preprocessing

## 2.1 选择受欢迎的电影 Select the popularity movies

In [8]:
list_mid = df['popularity']['movieid_id']

# 查找受欢迎的电影信息
# Find the movies which is popularity 
df_popularity_movie = df['movie'][df['movie']['movieid'].isin(list_mid)]
df_popularity_movie

,movieid,title,year,length,genres,rate,poster,plot,trailer
0,tt0499549,Avatar,2009,162,Action|Adventure|Fantasy|Sci-Fi,7.8,https://ia.media-imdb.com/images/M/MV5BMTYwOTE...,A paraplegic marine dispatched to the moon Pan...,https://video-http.media-imdb.com/MV5BNjYxM2Q5...
1,tt0449088,Pirates of the Caribbean: At World's End,2007,169,Action|Adventure|Fantasy,7.1,https://ia.media-imdb.com/images/M/MV5BMjIyNjk...,"Captain Barbossa, Will Turner and Elizabeth Sw...",https://www.totaleclips.com/Player/Bounce.aspx...
3,tt1345836,The Dark Knight Rises,2012,164,Action|Thriller,8.4,https://ia.media-imdb.com/images/M/MV5BMTk4ODQ...,Eight years after the Joker's reign of anarchy...,https://video-http.media-imdb.com/MV5BNjQ1NTU4...
4,tt0401729,John Carter,2012,132,Action|Adventure|Sci-Fi,6.6,https://ia.media-imdb.com/images/M/MV5BMDEwZmI...,"Transported to Barsoom, a Civil War vet discov...",https://video-http.media-imdb.com/MV5BMjAwMzY1...
8,tt0417741,Harry Potter and the Half-Blood Prince,2009,153,Adventure|Family|Fantasy|Mystery,7.6,https://ia.media-imdb.com/images/M/MV5BNzU3NDg...,As Harry Potter begins his sixth year at Hogwa...,https://video-http.media-imdb.com/MV5BMTcxNjEy...
...,...,...,...,...,...,...,...,...,...
2729,tt1772288,Danny Collins,2015,106,Comedy|Drama|Music,7.0,https://ia.media-imdb.com/images/M/MV5BNDk5NTY...,An aging rock star decides to change his life ...,https://video-http.media-imdb.com/MV5BMTYyMjA4...
2798,tt0078748,Alien,1979,116,Horror|Sci-Fi,8.5,https://ia.media-imdb.com/images/M/MV5BNDNhN2I...,After a space merchant vessel perceives an unk...,https://video-http.media-imdb.com/MV5BNWM5MWE3...
2829,tt1068678,Veronika Decides to Die,2009,103,Drama|Romance,6.5,https://ia.media-imdb.com/images/M/MV5BMTQzNTk...,"After a frantic suicide attempt, Veronika awak...",https://www.totaleclips.com/Player/Bounce.aspx...
2854,tt0110912,Pulp Fiction,1994,154,Crime|Drama,8.9,https://ia.media-imdb.com/images/M/MV5BMTkxMTA...,"The lives of two mob hitmen, a boxer, a gangst...",https://video-http.media-imdb.com/MV5BMDFmMDcw...
2902,tt0094625,Akira,1988,124,Action|Animation|Sci-Fi,8.1,https://ia.media-imdb.com/images/M/MV5BM2ZiZTk...,A secret military project endangers Neo-Tokyo ...,https://www.totaleclips.com/Player/Bounce.aspx...

In [10]:
# 将DataFrame格式转化为dict，到时候方便插入Neo4j
# make DataFrame to Dict, in order to insert neo4j
dict_movie = {}
# 获取除了 movieid 的其他列
# get the cols expect 'movieid'    
cols = [col for col in df_popularity_movie.columns if col != 'movieid']

for i in range(len(df_popularity_movie)):
    row = df_popularity_movie.iloc[i]

    dict_movie.update({row['movieid'] : row.to_dict()})

# 显示字典里的随机一个数据
# show one random
print('rows:', len(dict_movie))
temp = dict_movie.popitem()
dict_movie.update({temp[0]:temp[1]})
temp

rows: 62

('tt0094625',
 {'movieid': 'tt0094625',
  'title': 'Akira',
  'year': 1988,
  'length': 124,
  'genres': 'Action|Animation|Sci-Fi',
  'rate': 8.1,
  'poster': 'https://ia.media-imdb.com/images/M/MV5BM2ZiZTk1ODgtMTZkNS00NTYxLWIxZTUtNWExZGYwZTRjODViXkEyXkFqcGdeQXVyMTE2MzA3MDM@._V1_.jpg',
  'plot': 'A secret military project endangers Neo-Tokyo when it turns a biker gang member into a rampaging psychic psychopath that only two teenagers and a group of psychics can stop.',
  'trailer': 'https://www.totaleclips.com/Player/Bounce.aspx?eclipid=e128673&bitrateid=449&vendorid=102&type=.mp4'})

## 2.2 查找每一部受欢迎电影的所有演员 Select all of the actors who act in the popularity movie

In [11]:
dict_actor_movie = {}
for mid in df_popularity_movie['movieid']:
    flag = df['actor_movie']['movieid_id'].eq(mid)
    actors = df['actor_movie'][flag]['actorid_id'].to_list()
    dict_actor_movie.update({mid : actors})
# 显示字典里的随机一个数据
# show one random
temp = dict_actor_movie.popitem()
print('rows: ' , len(dict_actor_movie))
dict_actor_movie.update({temp[0]:temp[1]})
temp

rows:  61

('tt0094625', ['nm0412628', 'nm0765815', 'nm0468708', 'nm0312656'])

## 2.3 查找热门电影里每个演员的信息 Select the actors' info

In [12]:
dict_actor = {}
actors = set()
for ac in dict_actor_movie.values():
    for actor in ac:
        actors.add(actor)
for aid in actors:
    flag = (df['actor']['actorid'] == aid)
    row = df['actor'][flag].iloc[0]
    dict_actor.update({aid: row.to_dict()})
# 显示字典里的随机一个数据
# show one random
temp = dict_actor.popitem()
print('rows: ' , len(dict_actor_movie))
dict_actor.update({temp[0]:temp[1]})
temp

rows:  62

('nm0293550',
 {'actorid': 'nm0293550',
  'name': 'Paul Freeman',
  'photo': 'https://ia.media-imdb.com/images/M/MV5BMjA4Mzc2NjU2N15BMl5BanBnXkFtZTcwNzYzMDAxMw@@._V1_.jpg'})

# 三、Py2Neo CRUD

## 3.1 连接 Connnect Neo4j

In [14]:
from py2neo import Graph
url = "http://localhost:7474"
username = "neo4j"
password = "123456"
graph = Graph(url, auth=(username, password))
print("neo4j info: {}".format(str(graph)))

neo4j info: Graph('http://localhost:7474')

## 3.2 插入电影和演员节点 Insert Node about Movie and Actor

In [220]:
from py2neo import Graph, Node, Subgraph
import time 
s_time = time.time()

node_list = []

graph.delete_all()

for mid, movie in dict_movie.items():
    node_list.append(Node("movie", **movie))
for aid, actor in dict_actor.items():
    node_list.append(Node("actor", **actor))
graph.create(subgraph=Subgraph(node_list))

In [224]:
print('movie: ', graph.nodes.match("movie").count())
print('actor: ', graph.nodes.match('actor').count())

movie:  62
actor:  240

## 3.3 建立电影和演员之间的联系 (Build the relationship with actor and movie)

In [253]:
from py2neo import NodeMatcher, Relationship
node_matcher = NodeMatcher(graph)
list_rel = []
for mid, actors in dict_actor_movie.items(): 
    node_movie = node_matcher.match("movie", movieid=mid).first()
    if node_movie != None:
        for actor in actors:
            node_actor = node_matcher.match("actor", actorid=actor).first()
            if node_actor != None:
                list_rel.append(Relationship(node_actor, "acted", node_movie, name='acted'))

# 批量建立
# batch build 
once = 50
maxi = len(list_rel)
for i in range(0, maxi, once):
    subgraph = Subgraph(relationships=list_rel[i:i+once])
    graph.separate(subgraph)
    graph.create(subgraph)
    print(f'[INFO] >> created {len(subgraph)} relations')

[INFO] >> created 50 relations
[INFO] >> created 50 relations
[INFO] >> created 50 relations
[INFO] >> created 50 relations
[INFO] >> created 50 relations
[INFO] >> created 44 relations

`result `
<img src="./images/1.png">

## 4.1 数据分析 Data Analysis

In [18]:
from py2neo import RelationshipMatcher
rmatcher = RelationshipMatcher(graph)


# rmatcher.match().first()

acted(Node('actor', actorid='nm1940449', name='Andrew Garfield', photo='https://ia.media-imdb.com/images/M/MV5BMjE2MjI2OTk1OV5BMl5BanBnXkFtZTgwNTY1NzM4MDI@._V1_.jpg'), Node('movie', genres='Action|Adventure|Fantasy|Sci-Fi', length=142, movieid='tt1872181', plot='When New York is put under siege by Oscorp, it is up to Spider-Man to save the city he swore to protect as well as his loved ones.', poster='https://ia.media-imdb.com/images/M/MV5BOTA5NDYxNTg0OV5BMl5BanBnXkFtZTgwODE5NzU1MTE@._V1_.jpg', rate=6.7, title='The Amazing Spider-Man 2', trailer='https://video-http.media-imdb.com/MV5BNTc4NzM0MzI4NF5BMTFeQXdlYm1eQW1lODA4Mzk5MjQxMQ@@.webm?Expires=1524560529&Signature=hZZfFnVkUhkrySvTkl-6xwTT96Gomz87BSlOmAAivkc9ZuREi4S82~XRKpQkLZTGBjQfAjeYXh12gMbyzghvbdhsIuKEay-KHGdI3-hgPqhMrr7IrUYcls33vuPgBsxwMQ0IMLeUYIX54uNNPfurZovVlZxf6bUm62T4PAPjGm4_&Key-Pair-Id=APKAILW5I44IHKUN2DYA', year=2014), name='acted')

In [230]:
from translate import Translator

# 以下是将简单句子从英语翻译中文
title='hello, i like you'
translator = Translator(to_lang="chinese")
translation = translator.translate(title)
print(translation)

# 在任何两种语言之间，中文翻译成英文
translator = Translator(from_lang="chinese", to_lang="english")
translation = translator.translate("我想你")
print(translation)

你好，我爱你！
I miss you